## Trabalho 2 - Análise de Dados e Inferência Estatística com Python

#### *Professor:* Paulo Cotta

#### *Data de entrega:* 17/12/2019

#### *Envio do trabalho:* paulovpcotta@gmail.com

### Enunciado

##### Problema que deve ser resolvido
Todos os anos, incêndios florestais ocorrem no Brasil, em todas as regiões do país. Neste trabalho devemos classificar os meses que possuem maior taxa de incêndio, tentando classificar, com base nos dados/variáveis de entrada fornecidos, se é um mês que pode conter incêndio ou não.
Não pode ser utilizado IF, SWITCH, entre outros comandos, apenas os algoritmos que foram indicados para uso.
A técnica de dividir o dataset em 80% para treino, 10% para testes e 10% para validação deve ser considerada.

##### Dataset
Este relatório contém o conjunto de dados do número de incêndios florestais no Brasil, dividido por Estados. A série compreende o período de 20 anos (1998 a 2017). Os dados foram obtidos no site oficial do governo brasileiro. Link: http://dados.gov.br/dataset/sistema-nacional-de-informacoes-florestais-snif.

As colunas constantes no dataset são:
* Year: ano catalogado, para o estado observado;
* State: Estado em que foi observado;
* Month: mês da observação catalogada;
* Number: número de incêndios, caso tenha ocorrido no processo observado e catalogado;
* Date: Data de catalogação do evento.

In [1]:
# Imports
import numpy as np
import pandas as pd

In [3]:
florestas=pd.read_csv('amazon.csv', encoding='latin1')
florestas.head(10)

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01
5  2003  Acre  Janeiro    10.0  2003-01-01
6  2004  Acre  Janeiro     0.0  2004-01-01
7  2005  Acre  Janeiro    12.0  2005-01-01
8  2006  Acre  Janeiro     4.0  2006-01-01
9  2007  Acre  Janeiro     0.0  2007-01-01

### Questão 1

Você deve pegar o dataset e agrupar os dados para identificar qual é(são) o(s) Estado(s) que tem maior incidência de queima ou incêndio nos meses entre Janeiro à Dezembro. O seu eixo Y deve conter o ano, entre 1998 a 2017.

Após o agrupamento, você deve plotar o gráfico dos 10 Estados com maior número de incêndios e como ficou a distribuição dos incêndios.

In [4]:
# Código aqui

### Questão 2

Faça um modelo baseado em K-means ou KNN ou SVM que mostre a distribuição dos clusters e consiga classificar se é um mês que pode possuir incêndios. Deve-se plotar o gráfico demonstrando a dispersão dos clusters.

In [5]:
# Código aqui